/* @import url("bootstrap.css"); */
/* @font-face{ */
	/* font-family: url(""); */
/* } */

/*Styling van de pagina*/
body {
    -webkit-touch-callout: none; /* prevent callout to copy when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text */
    -webkit-user-select: none; /* prevent copy/paste */
	background-color: #EB8202;
	overflow: hidden;
    color: white;
    font-family: Verdana, sans-serif;
}

/*container in centrum scherm*/
#buttonwrapper {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -25px;
    margin-left: -75px;
}

/*Buttons onder elkaar*/
#buttonwrapper {
	width: 150px;
}

/*Styling links*/
a {
    text-align: center;
    text-decoration: none;
    font: bold;
    font-size: 1.5em;
    color: white;
}

/*Styling home buttons*/
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: 5px solid white;
    border-radius: 5px;
}
.button {
    border: 5px solid white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    background-color: #EB8202;
}

/*Ruimte tussen eerste en tweede button*/
#button-hs {
    margin-top: 20px;
}

/*Styling getoonde knop*/
#Knop {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid white;
}

.toonScore {
    position: fixed;
    top: 2.5%;
    left: 55%;
    right: 10%;
    border: 5px solid white;
    border-radius: 5px;
    width: 35%;
    height: 5%;
		text-align: center;
}
.toonTeller {
    position: fixed;
    top: 2.5%;
    left: 10%;
    right: 45%;
    border: 5px solid white;
    border-radius: 5px;
    width: 35%;
    height: 5%;
		text-align: center;
}

/*Styling verschillende 'classes' van de knoppen*/
.driehoek {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.vierkant {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.ster {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.octagon {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.rondje {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.rabbet {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.plus {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: polygon(0 30%, 30% 30%, 30% 0, 70% 0, 70% 30%, 100% 30%, 100% 70%, 70% 70%, 70% 100%, 30% 100%, 30% 70%, 0 70%);
    clip-path: polygon(0 30%, 30% 30%, 30% 0, 70% 0, 70% 30%, 100% 30%, 100% 70%, 70% 70%, 70% 100%, 30% 100%, 30% 70%, 0 70%);
}

.pentagon {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

/*Verbergen van het element*/
.hidden {
    display: none;
}

/*HS*/
/*Plaatsing table*/
#hscontainer {
	position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    overflow: auto;
}

/*Styling table*/
#hscontainer {
	height: 90%;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    color: #EB8202;
    font-size: 1.25em;
}

table td, table th {
    border: 1px solid #EB8202;
}

th,td {
    text-align: center;
    padding: 10px;
}

tr{
    background-color: white;
}

tr:nth-child(even){
    background-color: lightgrey;
}

tr:hover {
    background-color: black;
}

th {
    background-color: white;
    color: #EB8202;
}

/*Styling nav knoppen hs pagina*/
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 50%;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

li:hover {
    background-color: black;
}
